<header class="navbar">

    <div>
      <a class="navbar-brand" routerLink="/">Welcome
        <span class="brand-dot"></span>
      </a>
    </div>

     <div class="navbar-content">
    <nav class="navigation">

        @for (item of items; track item.route ?? item.label) {

            <a
                class="navigation-item"
                [routerLink]="item.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: item.route === '/' }">

                @if (item.icon) {
                    <span class="navigation-item-icon">
                        <ng-container *ngComponentOutlet="item.icon" />
                    </span>
                }

                <span class="navigation-item-label">
                    {{ item.label }}
                </span>

            </a>

        }

    </nav>
</div>

 <div class="navbar-actions">
   <a routerLink="/" class="signup-button">
     Sign Up
   </a>
 </div>

</header>
