@use '../../../styles' as *;

:host {
    display: block;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    padding: 0 2rem;

    border-bottom: 1px solid #000000;
}

.navbar-brand {
    flex-shrink: 0;
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 2rem;

}
.navigation-item {
  font-family: $font-nav;
  padding: 0 1rem;
  text-decoration: none;
  font-weight: bold;
  color:$font-nav-color;

}
.navigation {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
