
:host {
    display: block;
    min-height: 100vh;
}


.layout {
    display: flex;
    flex-direction: column;
     min-height: 100vh;

}

.layout-body {
    flex: 1;
    display: flex;
}

.content {
    flex: 1;
    min-width: 0;
}
