<section class="home">
  <div class="hero">

    <h1 class="hero__title">
      <span class="muted">
        This web application <br>
      </span>

      <span class="headlights">
       was built<br>
      </span>

      <span class="title_muted">
        with C# <img /> and Angular <img/> <span class="hero-title-dot">.</span>
      </span>
    </h1>

    <p class="hero__description">
      Hi, I’m Adam Stano. I develop reliable backend systems with
      C# and ASP.NET Core, combined with responsive Angular interfaces.
    </p>

    <div class="hero__technologies">
      <span class="hero-technology">C#</span>
      <span class="hero-technology">ASP.NET Core</span>
      <span class="hero-technology">Angular</span>
      <span class="hero-technology">TypeScript</span>
    </div>

  </div>
</section>
